@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@1,600&display=swap");

.bannerContainer {
  background-color: #e4e5e7;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 0;
}

.centeredTextContainer {
  text-align: center;
  color: white;
  line-height: 1.2;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredStack {
  display: flex;
  justify-content: center;
}

.subTextStack {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 60%;
}

.heading {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 45px;
}

.italicText {
  font-family: "Raleway", sans-serif;
  font-style: italic;
}

.subText {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  color: #fff;
}

.centeredCard {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background: linear-gradient(to top, white 5%, #ecf5ff 75%);
 
}
.offersContainer{
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centeredpopCard{
  width: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.popularCard {
  background: linear-gradient(to top, white 5%, #ecf5ff 75%);
}

