.scrollbar {
    /* Custom scrollbar for WebKit browsers */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #d9d9d9 transparent; /* For Firefox */
  
    /* WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #d9d9d9;
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
  