@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@1,600&display=swap");

.text {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.border {
  transition: transform 0.3s ease-in-out;
  border: 0px;
  box-shadow: 0px 1.63px 53.13px 0px #00000017;
}
.header {
  font-weight: 500;
  font-size: 18px;
  background-color: "#f2f4f5";
}

/* Initially hide the icon container */
.Copyitienery {
  position: absolute;
  top: 50%; /* Align vertically to the button */
  left: 95%; /* Place it next to the button on the right */
  transform: translateY(-50%); /* Center vertically */
  display: none; /* Hidden by default */
}

div:hover > .Copyitienery {
  display: flex;
  
}



