/* 
.bannerContainer {
    position: relative;
    width: 100%;
    height: 100%; 
  } */
  
  /* .centeredText {
    position: absolute;
    top: 46%;
    left: 35%;
    transform: translate(-30%, -50%);
    text-align: center;
    color: white; 
    line-height:81.84px;
 
    
    
  } */
  .heading {
    font-family: 'Nunito Sans', sans-serif;
    color:black;
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
  }
  /* OfferforYou.module.css */
/* OfferforYou.module.css */

.card {
  padding: 0;
  text-align: center;
  height: 345px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border: 0px;
  box-shadow: 0px 18.63px 53.13px 0px #00000017;
  transition: transform 0.3s ease-in-out;
  border-radius: 18px;
 
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  flex: 1 1 50%;
  position: relative;
  height: 200px;
}

.card-content {
  color: black;
  flex: 1 1 50%;
  padding: 10px;
  text-align: left;
}

.card-tag-group {
  margin: 10px 5px;
  display: flex;
  /* justify-content: flex-start;
  flex-wrap: wrap; */
  /* overflow-x: scroll; */
  
}

.card-text {
  font-weight: bold;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;

}

.card-subtext {
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 5px;
}
.noscrollbar {
  display: flex;
  /* overflow-x: scroll; */
  /* scrollbar-width: none; /* Firefox */
  /* -ms-overflow-style: none; 
  overscroll-behavior-x: none; */ 
}







